# Exclude everything by default
**

# Include only what the extension needs at runtime
!dist/**
!syntaxes/**
!images/wit-icon.png
!snippets.json
!language-configuration.json
!LICENSE
!README.md
!CHANGELOG.md
