<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>description</key>
    <string>WebAssembly Interface Type (WIT) Interface Definition Language (IDL) </string>
    <key>name</key>
    <string>WIT</string>
    <key>uuid</key>
    <string>73554272-ff1a-4515-879e-39a6dcec955d</string>
  </dict>
</plist>
